<div class="container">
<div class="row">
<div class="panel panel-default">
  <div class="panel-body">
        <h1>{{group.groupName}}</h1>
        <h3>Преподаватель: <a href="/user/{{teacher._id}}"  class="teacherLink" id="{{teacher._id}}">{{teacher.firstName}} {{teacher.lastName}}</a></h3>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
      <h3 class="AuthorText">Панель управления</h3>
      <a class="btn btn-default" href="/group/{{group._id}}?members=true">Список участников</a>
      <a class="btn btn-default" href="/users?manage={{group._id}}">Пригласить студентов</a>
      <a class="btn btn-default" href="/group/{{group._id}}?edit=true">Редактировать группу</a>
      <a class="btn btn-default" href="/lesson-form?groupId={{group._id}}">Добавить урок</a>
      <button class="btn btn-danger deleteButton" id="{{group._id}}" onclick="deleteGroup()">Удалить группу</button>
  </div>
</div>





<div class="col-md-6 BoxShadow GroupDesc">
      <h3>Информация о группе:<span class="glyphicon glyphicon-pencil ButtonIncr" style="float:right;"></span></h3>
      <p class="GroupDescText">{{group.contentText}}</p>
      <hr>
      <center><h3>Список уроков:</h3></center>
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Номер урока</th>
            <th>Тема</th>
            <th>Название</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each  lessons}}
        <tr>
          <th scope="row"></th>
          <td>Тема</td>
          <td>{{this.title}}</td>
          <td><a class="btn btn-primary" href="/lesson/{{this._id}}">Отркыть</a></td>
        </tr>
        {{/each}}
        </tbody>
      </table>
</div>

<div class="col-md-4 BoxShadow Schedule">
  <center><h4>Расписание:</h4></center>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Дата:</th>
      <th>Событие</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">19.05.17\15:00</th>
        <td>Вебинар по чему-то</td>
        <td class="bg-primary SchStatus">Ожидается</td>
      </tr>
      <tr>
        <th scope="row">19.05.17\16:00</th>
        <td>Вопросы по домашнему заданию</td>
        <td class="bg-success SchStatus" >Уже идёт</td>
      </tr>
      <tr>
        <th scope="row">19.05.17\18:00</th>
        <td>не знаю</td>
        <td class="bg-danger SchStatus" >Окончено</td>
      </tr>
    </tbody>
  </table>
</div>


<script>


  $('.askButton').on('click', function (){
    var groupToManage = $(this).attr("id");
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/group/'+groupToManage, true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify({action: 'ask'}));
    console.log(JSON.stringify({action: 'ask'}));
    xhr.onload = function () {
      if(xhr.status === 200) {
        var responseText = xhr.responseText;
        alert(responseText);
        //location.reload();
      }
      else {
        console.log(responseText);
      }
    };
  });


  function deleteGroup () {
    var actionUser = '{{user._id}}'
    //var groupToDelete = $('.deleteButton').attr("id");
    var actionGroup = '{{group._id}}'
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/group-delete', true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify({actionGroup: actionGroup, actionUser: actionUser}));
    console.log(JSON.stringify({actionGroup: actionGroup, actionUser: actionUser}));
    xhr.onload = function () {
      if(xhr.status === 200) {
        var responseText = xhr.responseText;
        location.reload();
        alert(responseText);
      }
      else {
        alert(responseText);
      }
    }

  };




  function charge () {

    var chargeValue = $('#chargeValue').val();


    var usersToCharge = [];
    $("input[type='checkbox']").each(function(){
      if($(this).is(":checked")) {
        usersToCharge.push($(this).attr("id"))
      }
    });
    var groupToCharge = '{{group._id}}';
    var teacherToAccept = $('.teacherLink').attr("id");
    console.log(teacherToAccept);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/group-charge', true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    console.log(chargeValue);
    xhr.send(JSON.stringify({usersToCharge: usersToCharge, chargeValue: chargeValue, teacherToAccept: teacherToAccept, groupToCharge: groupToCharge}));
    console.log(JSON.stringify({usersToCharge: usersToCharge, chargeValue: chargeValue, teacherToAccept: teacherToAccept, groupToCharge: groupToCharge}));

    xhr.onload = function () {
      if(xhr.status === 200) {
        var responseText = xhr.responseText;
        console.log(responseText);
        location.reload();
      }
      else {
        console.log(responseText);
      }
    };


  }
</script>


</div>
</div>
