<div class="panel panel-default">
  <div class="panel-body">
        {{group.groupName}}. {{group.time}} Преподаватель: <a href="/user/{{teacher._id}}"  class="teacherLink" id="{{teacher._id}}">{{teacher.firstName}} {{teacher.lastName}}</a>
  </div>
</div>


{{#if user.isAdmin}}

<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      {{#each students}}
          <li class="list-group-item">
            <a href = "/user/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
              Баланс:  {{this.balance}}
            <!--  <label class="btn btn-primary pull-right"> -->
                <input type="checkbox" autocomplete="off" id="{{this._id}}" class="pull-right">
            <!--  </label> -->
          </li>
      {{/each}}
    </ul>
  </div>
</div>


<!--<form onsubmit="charge()">-->
  <button class="btn btn-primary" onclick="charge()">Charge</button>
  <input type="text" class="form-control" id="chargeValue">
<!--</form>-->
 <a class="btn btn-default" href="/group/{{group._id}}?edit=true">Редактировать группу</a>

<script>
  function charge () {

    var chargeValue = $('#chargeValue').val();


    var usersToCharge = [];
    $("input[type='checkbox']").each(function(){
      if($(this).is(":checked")) {
        usersToCharge.push($(this).attr("id"))
      }
    });

    var teacherToAccept = $('.teacherLink').attr("id");
    console.log(teacherToAccept);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/group-charge', true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    console.log(chargeValue);
    xhr.send(JSON.stringify({usersToCharge: usersToCharge, chargeValue: chargeValue, teacherToAccept: teacherToAccept}));
    console.log(JSON.stringify({usersToCharge: usersToCharge, chargeValue: chargeValue, teacherToAccept: teacherToAccept}));

    xhr.onload = function () {
      if(xhr.status === 200) {
        var responseText = xhr.responseText;
        console.log(responseText);
        location.reload();
      }
      else {
        console.log(responseText);
      }
    };


  }
</script>

{{else}}


<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      {{#each students}}
          <li class="list-group-item">
            <a href = "/user/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
          </li>
      {{/each}}
    </ul>
  </div>
</div>

{{/if}}
