<div class ="container">
<div class ="row">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="userInfo" id="{{user._id}}">
        <p>{{user.firstName}} {{user.lastName}}</p>
    </div>
    <div class="userInfo" id="{{user._id}}">
        <img src="{{user.photo_100}}" height="100" width="100">
    </div>
    <div class="userInfo" id="{{user._id}}">
      <p>{{user.city}}, {{user.country}}</p>
    </div>
    {{#if user.email}}
    <div class="userInfo" id="{{user._id}}">
      <p>{{user.email}}</p>
    </div>
    {{/if}}
    {{#if user.phone}}
    <div class="userInfo" id="{{user._id}}">
      <p>{{user.phone}}</p>
    </div>
    {{/if}}
  </div>
</div>


{{#if myGroups}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Ваши группы</p>
    <ul class= "list-group">
      {{#each myGroups}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
<a href="/group" class="btn btn-default">Создать группу</a>

{{#if groupsIn}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Группы в которых Вы состоите</p>
    <ul class= "list-group">
      {{#each groupsIn}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
          <button class="btn btn-danger pull-right leaveButton" id="{{this._id}}">Покинуть группу</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

{{#if groupsInv}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Группы в которые Вас пригласили</p>
    <ul class= "list-group">
      {{#each groupsInv}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
          <button class="btn btn-warning pull-right rejectButton" id="{{this._id}}">Отклонить приглашение</button>
          <button class="btn btn-success pull-right approveButton" id="{{this._id}}">Принять приглашение</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

{{#if groupsAsk}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Группы в которые Вы отправили запросы на вступление</p>
    <ul class= "list-group">
      {{#each groupsAsk}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
            <button class="btn btn-warning pull-right cancelButton" id="{{this._id}}">Отменить запрос</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}




<script>
$('.leaveButton').on('click', function(){
  var groupToLeave = $(this).attr("id");
  var userToManage = $('.userInfo').attr("id");
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/group/'+groupToLeave, true);
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify({action: 'leave'}));
  console.log(JSON.stringify({action: 'leave'}));
  xhr.onload = function () {
    if(xhr.status === 200) {
      var responseText = xhr.responseText;
      console.log(responseText);
      location.reload();
    }
    else {
      console.log(responseText);
    }
  };
});

$('.rejectButton').on('click', function(){
  var groupToReject = $(this).attr("id");
  var userToManage = $('.userInfo').attr("id");
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/group/'+groupToReject, true);
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify({action: 'reject-group'}));
  console.log(JSON.stringify({action: 'reject-group'}));
  xhr.onload = function () {
    if(xhr.status === 200) {
      var responseText = xhr.responseText;
      console.log(responseText);
      location.reload();
    }
    else {
      console.log(responseText);
    }
  };
});

$('.approveButton').on('click', function (){
  var groupToApprove = $(this).attr("id");
  var userToManage = $('.userInfo').attr("id");
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/group/'+groupToApprove, true);
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify({action: 'approve-group'}));
  console.log(JSON.stringify({action: 'approve-group'}));
  xhr.onload = function () {
    if(xhr.status === 200) {
      var responseText = xhr.responseText;
      console.log(responseText);
      location.reload();
    }
    else {
      console.log(responseText);
    }
  };
});

$('.cancelButton').on('click', function (){
  var groupToCancel = $(this).attr("id");
  var userToManage = $('.userInfo').attr("id");
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/group/'+groupToCancel, true);
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify({action: 'cancel-ask'}));
  console.log(JSON.stringify({action: 'cancel-ask'}));
  xhr.onload = function () {
    if(xhr.status === 200) {
      var responseText = xhr.responseText;
      console.log(responseText);
      location.reload();
    }
    else {
      console.log(responseText);
    }
  };
});
</script>

</div>
</div>
