<dic class="container">
<div class="panel panel-default">
  <div class="panel-body userInfo" id="{{pageOwner._id}}">
      <p>{{pageOwner.firstName}} {{pageOwner.lastName}} {{pageOwner.role}}</p>
  </div>
  <div class="panel-body userInfo" id="{{pageOwner._id}}">
      <img src="{{pageOwner.photo_100}}" height="100" width="100">
  </div>
  <div class="panel-body userInfo" id="{{pageOwner._id}}">
    <p>{{pageOwner.city}}, {{pageOwner.country}}</p>
  </div>


  {{#if pageOwner.email}}
  <div class="panel-body userInfo" id="{{pageOwner._id}}">
    <p>{{pageOwner.email}}</p>
  </div>
  {{/if}}
  {{#if pageOwner.phone}}
  <div class="panel-body userInfo" id="{{pageOwner._id}}">
    <p>{{pageOwner.phone}}</p>
  </div>
  {{/if}}


</div>


{{#if hisGroups}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Преподает в группах</p>
    <ul class= "list-group">
      {{#each hisGroups}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

{{#if groupsIn}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Состоит в группах</p>
    <ul class= "list-group">
      {{#each groupsIn}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

{{#if groupsInv}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Приглашен в группы</p>
    <ul class= "list-group">
      {{#each groupsInv}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

{{#if groupsAsk}}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Отправил заявку на вступление в </p>
    <ul class= "list-group">
      {{#each groupsAsk}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
</div>
