<div class="container">
{{#if manageGroup}}
<div class="panel panel-default">
  <div class="panel-body">
      <a href="/group/{{manageGroup}}">Вернуться на страницу группы</a>
  </div>
</div>


{{/if}}

<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      {{#each allUsers}}
        <li class="list-group-item">
          <a href="/user/{{this._id}}">{{this.firstName}} {{this.lastName}} </a>
          {{#unless this.status}}<button  id="{{this._id}}" class="btn btn-default pull-right invite">Пригласить в группу</button>{{/unless}}
          <span class ="pull-right"> &nbsp{{this.status}}  &nbsp </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

</div>

<script>
  $('.invite').on('click', function() {

    var actionUserId = $(this).attr("id");
    var actionGroupId = '{{manageGroup}}';

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/group/'+actionGroupId, true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    xhr.send(JSON.stringify({actionUserId: actionUserId, action: 'invite'}));
    console.log(JSON.stringify({actionUserId: actionUserId, action: 'invite'}));

    xhr.onload = function () {
      if(xhr.status === 200) {
        var responseText = xhr.responseText;
        console.log(responseText);
        location.reload();
      }
      else {
        console.log(responseText);
      }
    };


  });
</script>
